/* Sidebar Dark */

.app-sidebar.text-darker .app-sidebar-content {
  background: none !important;
}
.app-sidebar.text-darker .app-header__logo {
  background: rgba(0, 0, 0, 0.1) !important;
}
.app-sidebar.text-darker .logo-src {
  background: url('../../../../../images/logo-inverse.png');
}
.app-sidebar.text-darker .hamburger-inner,
.app-sidebar.text-darker .hamburger-inner::before,
.app-sidebar.text-darker .hamburger-inner::after {
  background: rgba(0, 0, 0, 0.8) !important;
}
.app-sidebar.text-darker .hamburger-box:hover .hamburger-inner,
.app-sidebar.text-darker .hamburger-box:hover .hamburger-inner::before,
.app-sidebar.text-darker .hamburger-box:hover .hamburger-inner::after {
  background: rgba(0, 0, 0, 1) !important;
}
.app-sidebar.text-darker .v-sidebar-menu .vsm-header {
  color: rgba(0, 0, 0, 0.6);
}
.app-sidebar.text-darker .v-sidebar-menu .vsm-header::before {
  background: rgba(0, 0, 0, 0.4);
}
.app-sidebar.text-darker .v-sidebar-menu .vsm-item.active-item > .vsm-link {
  background: rgba(0, 0, 0, 0.1);
  color: rgba(0, 0, 0, 1);
}
.app-sidebar.text-darker .v-sidebar-menu .vsm-arrow,
.app-sidebar.text-darker .v-sidebar-menu .vsm-icon {
  opacity: 0.5;
}
.app-sidebar.text-darker .v-sidebar-menu .vsm-link {
  color: rgba(0, 0, 0, 0.7);
}
.app-sidebar.text-darker .v-sidebar-menu .vsm-link:hover .vsm-icon {
  opacity: 0.65;
}
.app-sidebar.text-darker .v-sidebar-menu .vsm-dropdown::before {
  background: rgba(0, 0, 0, 0.1);
}
.app-sidebar.text-darker .ps > .ps__scrollbar-y-rail > .ps__scrollbar-y {
  background: rgba(0, 0, 0, 0.35);
}
.app-sidebar.text-darker
  .ps.ps--in-scrolling.ps--y:hover
  > .ps__scrollbar-y-rail,
.app-sidebar.text-darker .ps.ps--in-scrolling.ps--y > .ps__scrollbar-y-rail,
.app-sidebar.text-darker .ps:hover > .ps__scrollbar-y-rail:hover {
  background-color: rgba(0, 0, 0, 0.1) !important;
}
.app-sidebar.text-darker
  .ps.ps--in-scrolling.ps--y:hover
  > .ps__scrollbar-y-rail
  > .ps__scrollbar-y {
  background-color: rgba(0, 0, 0, 0.25) !important;
}
