/* Header Light */
.app-header.text-darker
  .app-header-left
  .header-megamenu
  > li
  > .dropdown
  > .btn,
.app-header.text-darker .app-header-left .header-megamenu > li > .btn {
  color: rgba(0, 0, 0, 0.7);
}

.app-header.text-darker
  .app-header-left
  .header-megamenu
  > li
  > .dropdown
  > .btn
  .nav-link-icon,
.app-header.text-darker
  .app-header-left
  .header-megamenu
  > li
  > .btn
  .nav-link-icon {
  color: rgba(0, 0, 0, 0.8);
}

.app-header.text-darker
  .app-header-left
  .header-megamenu
  > li
  > .dropdown
  > .btn:hover,
.app-header.text-darker .app-header-left .header-megamenu > li > .btn:hover {
  color: rgba(0, 0, 0, 1);
}

/* ------------------- */
.app-header.text-darker .app-header-right .icon-wrapper-alt .fa,
.app-header.text-darker .app-header-right .icon-wrapper-alt i,
.app-header.text-darker .app-header-right .icon-wrapper-alt .icon {
  color: rgba(0, 0, 0, 0.7) !important;
  transition: all 0.2s;
}

.app-header.text-darker .app-header-right .icon-wrapper-alt .icon-wrapper-bg {
  background: rgba(0, 0, 0, 0.1) !important;
  transition: all 0.2s;
  opacity: 1;
}

.app-header.text-darker .app-header-right .icon-wrapper-alt:hover .fa,
.app-header.text-darker .app-header-right .icon-wrapper-alt:hover i,
.app-header.text-darker .app-header-right .icon-wrapper-alt:hover .icon {
  color: rgba(0, 0, 0, 0.9) !important;
}
.app-header.text-darker
  .app-header-right
  .icon-wrapper-alt:hover
  .icon-wrapper-bg {
  background: rgba(0, 0, 0, 0.15) !important;
}

.app-header.text-darker .app-header-right .icon-wrapper-alt .badge-dot {
  border-color: transparent;
}

/* --------------- */
.app-header.text-darker
  .app-header-right
  .header-btn-lg
  .widget-content-left
  > .dropdown
  .btn-link
  svg
  path {
  fill: rgba(0, 0, 0, 0.5);
}

.app-header.text-darker
  .app-header-right
  .header-btn-lg
  .widget-content-left
  > .dropdown
  .btn-link:hover
  svg
  path {
  fill: rgba(0, 0, 0, 0.8);
}

.app-header.text-darker
  .app-header-right
  .header-btn-lg
  .header-user-info
  .widget-heading,
.app-header.text-darker
  .app-header-right
  .header-btn-lg
  .header-user-info
  .widget-subheading {
  color: rgba(0, 0, 0, 0.8);
}
.app-header.text-darker
  .app-header-right
  .header-btn-lg
  .header-user-info
  > .btn-shadow {
  box-shadow: 0 0.125rem 0.625rem rgba(0, 0, 0, 0.1),
    0 0.0625rem 0.125rem rgba(0, 0, 0, 0.2);
}

.app-header.text-darker .search-wrapper .input-holder .search-icon {
  background: rgba(0, 0, 0, 0.1);
}

.app-header.text-darker
  .search-wrapper
  .input-holder
  .search-input::placeholder,
.app-header.text-darker
  .search-wrapper
  .input-holder
  .search-input::-webkit-input-placeholder,
.app-header.text-darker
  .search-wrapper
  .input-holder
  .search-input:-ms-input-placeholder,
.app-header.text-darker
  .search-wrapper
  .input-holder
  .search-input:-moz-placeholder,
.app-header.text-darker
  .search-wrapper
  .input-holder
  .search-input::-moz-placeholder {
  color: rgba(0, 0, 0, 0.5) !important;
}

.app-header.text-darker .search-wrapper.active .input-holder {
  background: rgba(0, 0, 0, 0.1);
}
.app-header.text-darker .search-wrapper.active .input-holder .search-input {
  color: rgba(0, 0, 0, 0.8);
}

.app-header.text-darker .search-wrapper.active .input-holder .search-icon {
  background: rgba(0, 0, 0, 0.1);
}

.app-header.text-darker .header-btn-lg::before {
  background: rgba(0, 0, 0, 0.2);
}

.app-header.text-darker .header-btn-lg .hamburger-inner,
.app-header.text-darker .header-btn-lg .hamburger.is-active .hamburger-inner,
.app-header.text-darker .header-btn-lg .hamburger-inner::before,
.app-header.text-darker .header-btn-lg .hamburger-inner::after {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.app-header.text-darker .header__pane .hamburger-inner,
.app-header.text-darker .header__pane .hamburger.is-active .hamburger-inner,
.app-header.text-darker .header__pane .hamburger-inner::before,
.app-header.text-darker .header__pane .hamburger-inner::after {
  background-color: rgba(0, 0, 0, 0.8) !important;
}

.app-header.text-darker .search-wrapper .input-holder .search-icon span::after {
  border-color: rgba(0, 0, 0, 0.8);
}

.app-header.text-darker .search-wrapper .close::before,
.app-header.text-darker .search-wrapper .close::after,
.app-header.text-darker
  .search-wrapper
  .input-holder
  .search-icon
  span::before {
  background: rgba(0, 0, 0, 0.8);
}

.app-header.text-darker .app-header__mobile-menu .hamburger-inner,
.app-header.text-darker .app-header__mobile-menu .hamburger-inner::before,
.app-header.text-darker .app-header__mobile-menu .hamburger-inner::after {
  background: rgba(0, 0, 0, 0.9);
}
