/* Hamburger */
.hamburger {
  padding: var(--hamburger-padding-y) var(--hamburger-padding-x);

  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;

  /* Normalize (<button>) */
  font: inherit;
  color: inherit;
  text-transform: none;
  @apply inline-block cursor-pointer bg-transparent border-0 m-0 overflow-visible;
}
.hamburger:hover {
  opacity: var(--hamburger-active-hover-opacity);
}
.hamburger.is-active:hover {
  opacity: var(--hamburger-active-hover-opacity);
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: var(--hamburger-active-layer-color);
}

.hamburger-box {
  width: var(--hamburger-layer-width);
  height: calc(
    (var(--hamburger-layer-height) * 3) + (var(--hamburger-layer-spacing) * 2)
  );
  @apply inline-block relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: calc(var(--hamburger-layer-height) / -2);
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: var(--hamburger-layer-width);
  height: var(--hamburger-layer-height);
  background-color: var(--hamburger-layer-color);
  border-radius: var(--hamburger-layer-border-radius);
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: '';
  display: block;
}
.hamburger-inner::before {
  top: calc(
    (var(--hamburger-layer-spacing) + var(--hamburger-layer-height)) * -1
  );
}

.hamburger-inner::after {
  bottom: calc(
    (var(--hamburger-layer-spacing) + var(--hamburger-layer-height)) * -1
  );
}
